<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Sedex</title>
    <link rel="stylesheet" href="/Styles/bootstrap-5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/page.css">
    <script type="text/javascript" src="/Styles/bootstrap-5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/mask.js"></script>
</head>
