<%- include('../parts/header') %>

    <body>
        <%- include('../parts/navbar') %>

            <div class="container-fluid container-home">
                <div class="row">
                    <div class="col col-config">
                        <div class="shadow-lg p-3 mb-5 bg-body rounded">
                            <h6>Itens Aguardando envio</h6>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <p class="text-start p">Cidade: Anápolis</p>
                                </div>
                                <div class="col">
                                    <p class="text-end p">Responsável: Roberto</p>
                                </div>
                                <div class="col">
                                    <p class="text-end p">Criação: 09/09/2020</p>
                                </div>
                                <div class="col">
                                    <p class="text-end p">Status: Aguardando</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col col-config">
                        <div class="shadow-lg p-3 mb-5 bg-body rounded">
                            <h6>Itens enviados</h6>
                            <hr>
                            <div class="row">
                                <div class="col ">
                                    <p class="text-start p">Cidade: Anápolis</p>
                                </div>
                                <div class="col">
                                    <p class="text-end p">Envio: 09/09/2020</p>
                                </div>
                                <div class="col">
                                    <p class="text-end p">Enviado por: Roberto</p>
                                </div>
                                <div class="col p">
                                    <p class="text-end">Status: Enviado</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                <!--<div class="row">
                        <div class="col col-config">
                            <div class="shadow-lg p-3 mb-5 bg-body rounded">1 of 3</div>
                        </div>
                        <div class="col col-config">
                            <div class="shadow-lg p-3 mb-5 bg-body rounded">2 of 3</div>
                        </div>
                        <div class="col col-config">
                            <div class="shadow-lg p-3 mb-5 bg-body rounded"> 3 of 3 </div>
                        </div>
                    </div>-->
                </div>
    </body>
    <%- include('../parts/footer') %>